
#content {
    padding-bottom: -150px;   /* Height of the footer element */
}

#footer {
    background: #555;
    width: 100%;
    position: absolute;
    color: #eee;
    padding:20px;
    max-height: 150px;
    bottom: 0px;
}
